
body {
    padding : 10px ;
    background-color: rgba(134, 157, 174, 0.207);
    font-size: 8px;    
  }
  
  #exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  .tab-content {
    color : white;
    background-color: #41605890;
    padding : 5px 15px;
    height: 82vh;
    margin-top: -8px;
  }

  .tab-pane {
    padding-top: 10px !important;
  }
  

  #exTab3 .nav>li>a { 
    color: gray;
    border-radius: 4px 4px 0 0 ;
    
  }
  
  #exTab3 .nav>li>a.active,
  #exTab3 .nav>li>a:hover,
  #exTab3 .nav>li>a:focus { 
    background-color: #41605890;
    color: #ffebcd; 
  }